.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::placeholder {
  color: #6c757d !important;
  /* Warna dari Bootstrap's text-muted */
  opacity: 1;
  /* Pastikan tidak terlalu transparan */
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.sidebar {
  overflow-x: hidden;
}

.transition-all {
  transition: all 0.3s ease;
}

.submenu-collapsed {
  position: absolute;
  top: 100%;
  left: 70px;
  min-width: 180px;
  background: #0d6efd;
  z-index: 999;
  display: none;
  padding: 5px;
  border-radius: 4px;
}

.keuangan-toggle:hover+.submenu-collapsed,
.master-toggle:hover+.submenu-collapsed {
  display: block;
}

.submenu-collapsed .nav-link {
  white-space: nowrap;
}